body{
  margin: 0;

}
.logo{
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

.container-main{
  margin: 0;

}
h1{
  text-align: center;
}
.container1{
  margin: 0;
  text-align: center;
  background-color: #363636;
}
